
body {
    padding-bottom: 40px;
    padding-top: 50px;
    color: #5a5a5a;
}

#home-banner {
    background-image: url('/images/windbg.jpg'); /* http://www.funwallz.com/barrow-offshore-wind-turbines-nr-hd-wallpaper-105197.html */
    background-position: center center;
    height: 200px;
    border: 10px solid #2b669a;
    border-width: 10px 0;
}

#home-title { margin: 0; font-size: 32px; color: #aaa; }
#home-title strong {
    font-weight: normal;
    color: #5AA83B;
}

footer {
    margin-top: 50px;
    font-size: 80%;
}

input[type=text].dark {
    background-color: #444;
    border: 1px solid #111;
    color: #eee;
}

.navbar-inverse .navbar-brand {
    color: #5AA83B; /* http://www1.eere.energy.gov/communicationstandards/template.html */
}

input[type=text].tt-hint {
    color: #999;
}

img.logo-lg {
    width: 100%;
}

.tt-dropdown-menu {
    margin-top: 5px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 15px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}